<a href="https://colab.research.google.com/github/AnkitKumar2698/Data-Science-February/blob/main/Python_Basic_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1). Write a program to reverse an integer in Python

In [ ]:
n=int(input())
print("Before  reverse : ",n)
reverse=0
while n!=0 :
  reverse=reverse*10 +n%10  
  n=(n//10)
print(reverse)

83473
Before  reverse :  83473
37438

In [ ]:
n=input()
print(str(n)[::-1])

423424
424324

In [ ]:
num = input("Enter a number")
num = num[: :-1]
  
print(num)

Enter a number45435435
53453454

Q2). Write a program in Python to print the Fibonacci series using iterative method.

In [ ]:
n=int(input("Enter the number"))
first=0
second=1
print("fibonacci  :")
for i in range(0,n):
  if i<=1:
    result=int
  else :
    result= first+second 
    first=second
    second=result
  print(result)

Enter the number10
fibonacci  :
0
1
1
2
3
5
8
13
21
34

Q3). Write a program in Python to swap two numbers without using third variable?

In [ ]:
x= int(input())
y=int(input())
print("before reversinng x and y",x,y)
x,y=y,x
print("after reversinng x and y",x,y)

4
10
before reversinng x and y 4 10
after reversinng x and y 10 4

In [ ]:
a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
a=a-b
b=a+b
a=b-a
print("After swapping")
print("value of a is : ", a);
print("value of b is : ", b)

please give first number a: 30
please give second number b: 40
After swapping
value of a is :  40
value of b is :  30

Q4). Python program to calculate LCM of given two numbers.

In [ ]:
num1= int(input("first number"))
num2= int(input("second number"))
if(num1>num2):
  big= num1
else :
  big=num2;
while 1 :
  if(big % num1==0)  and (big % num2==0) :
    lcm= big
    break
  big+=1

print("LCM : ",lcm)
#hcf
hcf = num1*num2
hcf =hcf//lcm
print("HCF : "hcf)

first number12
second number3
3

In [ ]:
a=20
b=50
if(a>b):
  m = a
else:
  m = b
while(True):
  if(m%a==0 and m%b==0):
    print(m)
    break
  m += 1

100

Q5). Python Program to find GCD or HCF of two numbers.

Q6). Python program to concatenate two strings using join() method.

In [3]:


s1 =input()
s2= input()
print("".join([s1,s2]))

Pep
Coding
PepCoding

Q7). Python Program to Convert Decimal Number into Binary.

In [ ]:
num=int(input())
print(bin(num).replace("0b",""))

10
1010

In [ ]:
def bin(n):
  str1=""
  while(n>0):
    rem=n%2
    str1+=str(rem)
    n=n//2
  return(str1)
num=int(input())

print(bin(num)[::-1])

10
1010

Q8.)Write a lambda function to find power of a number .

In [ ]:

x= lambda a,b : a**b

num = int(input())
p= int(input())
x(num,p)

2
4

16

Find Duplicate Characters in a string.

In [ ]:
st = input()
dup = {}

for char in st:
  if char in dup:
    print(char)
    # dup[char]+=1
  else :
    dup[char]=1

pepcoding
p